
backend-project/backend/__pycache__/
backend-project/despesas/__pycache__/
backend-project/despesas/migrations/__pycache__/
backend-project/workspace.code-workspace

.devcontainer/
workspace.code-workspace
