
backend-project/backend/__pycache__/
backend-project/backend/settings/__pycache__/
backend-project/apps/user/__pycache__/
backend-project/apps/user/migrations/
backend-project/workspace.code-workspace

.devcontainer/
vscode.code-workspace

.env